
*.pbxproj

*.xcuserstate

*.xcsettings

*.xcscheme

*.xcuserstate

*.xcuserstate

Movement Protorype.xcodeproj/xcuserdata/leon.svberni.xcuserdatad/xcschemes/Movement Protorype.xcscheme

*.xcscheme

*.xcuserstate
