
*.pbxproj

*.xcuserstate

*.xcsettings

*.xcscheme

*.xcuserstate

*.xcuserstate

Movement Protorype.xcodeproj/xcuserdata/leon.svberni.xcuserdatad/xcschemes/Movement Protorype.xcscheme

*.xcscheme

*.xcuserstate

*.xcscheme

Movement Protorype.xcodeproj/project.xcworkspace/xcuserdata/rodrigo.xcuserdatad/UserInterfaceState.xcuserstate

Movement Protorype.xcodeproj/project.xcworkspace/xcuserdata/rodrigo.xcuserdatad/UserInterfaceState.xcuserstate
